body {
  font-family: sans-serif;
  margin: 0;
}


p {
  font-family: sans-serif;
  margin: 0;
}

.pheader{
  display: inline;
  color: #ffffff;
}

.plogo{
  display: inline;
  color:#000000;
}

.logo {
  height:100px;
  width:100%;
  background:#f5f5f5;
}

.header {
  height: 30px;
  width: 100%;
  background: #ff6200;
}

#header-text {
  color: #b32d00;
}

#logo-text {
  color:#ff6200;
}

.leftheader {
  float:left;
  margin-top:5px;
  margin-left:80px;
}

.rightheader {
  float:right;
  margin-top:5px;
  margin-right:80px;
}

.leftlogo {
  float:left;
  margin-top:25px;
  margin-left:80px;
  font-size:40px;
}

.rightlogo {
  float:right;
}

.righttitle {
  font-size:13px;
  margin-right:80px;
  margin-top:40px;
  float:right;
}

.pages {
  color:#a9a9a9;
  font-size:12px;
  margin-left:80px;
}

.pages-spacing {
  margin-top:38px;
  margin-bottom:38px;
}

#contact {
  color:#000000;
}

.page-title {
  color:#ff6200;
  font-weight:bold;
  font-size:23px;
  margin-left:83px;
}

.info {
  margin-top:15px;
  margin-left:83px;
  margin-bottom:40px;
}

.form-left {
  margin-left:83px;
  float:left;
}

.form-right {
  margin-right:400px;
  float:right;
}

.form-title {
  margin-top:10px;
  color:#ff6200;
  font-size:20px;
}

.reachus {
  font-size:12px;
  margin-left:958px;
  margin-top:80px;
}

.right-bar {
  margin-top:7px;
  margin-right:105px;
  display:inline-block;
  float:right;
  width:406px;
  height:5px;
  background-color:#000;
}

.left-bar {
  margin-top:7px;
  margin-left:80px;
  display:inline-block;
  float:left;
  width:406px;
  height:5px;
  background-color:#000;
  clear:both;
}

input {
  background:#f5f5f5;
  margin-top:12px;
  float:left;
}

#name {
  margin-top:20px;
  width:400px;
  height:20px;
}

#phone {
  width:400px;
  height:20px;
}

#email {
  width:400px;
  height:20px;
}

#message {
  width:400px;
  height:90px;
}

#submit {
  background-color:#ff6200;
  margin-top:25px;
  width:90px;
  height:35px;
  color:white;
}

form {
  width:400px;
  margin-left:80px;
}

img {
  display:block;
  width:2.4%;
  padding:2px;
  float:right;
  filter:grayscale(100%);
}

.images {
  margin-right:389px;
}
